<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>tittle</title>
        <meta charset="utf-8">
      <style>
        .label {
          padding:1em;
        }
        .nome {
          text-decoration: underline;
          color:black;
        }
        .sobrenome {
          color:black;
        }
      </style>
    </head>
  <body>

    <div id="principal">
      <form action="" id="form-new-user" class="formulario">
        <span class="label">Name?</span><input type="text" id="iName" class="input">
        <span class="label">Last Name?</span><input type="text" id="iLName" class="input">

        <button>Send</button>
        <hr>
        <div id="userContainer"></div>
      </form>
    </div>


      <!-- dependências (libs) -->
      <script src="js/jquery-3.1.1.min.js"></script>
      <script src="js/undescore.js"></script>
      <script src="js/backbone.js"></script>
      <script src="js/json2.js"></script>

      <!-- app (seu programa) -->

          <!-- templates -->
          <script type="text/template" id="userTemplate">
            <span class="nome"><%= nome %></span>
            <span class="sobrenome"><%= sobrenome %></span>
            <a href="#" class="editar">Editar</a>
            <a href="#" class="remover">Remover</a>
          </script>

        <!-- códigos -->
        <script src="models/users.js"></script>
        <script src="views/users.js"></script>

        <script type="text/javascript">
            (function($){

                // quando o documento estiver carregado
                $(document).ready(function(){

                    // instanciamos a collection lincada a model userModel;
                    window.users = new userCollections();
                    window.user_view = new userViewes({model: users});

                    // se o formulário for submetido.
                    $("#form-new-user").submit(function() {
                        //criamos uma nova instancia do model
                        var u = { nome : $("#iName").val() ,sobrenome : $("#iLName").val() };
                        var user = new userModel(u);
                        users.add(user);
                        // console.log(users);
                        return false;
                    });

                });
            })(jQuery);
        </script>
  </body>
</html>